@import './common/reset.css';
/*底部*/
#footer{
  position: fixed;
  width: 100%;
  height: .49rem;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
}
#footer a{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #797d82;
  font-size: .13rem;
}
.footer_c{
color: #ff5f16!important;
}
