html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
body,html{
	font:.13rem "微软雅黑",Arial;	
	color: #797d82;
}
li{
	list-style:none;	
}
i,em
	{
		font-style: normal;
	}
a{
	text-decoration:none;
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:.12rem;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}

